@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: #c4c4c4;
}

*:focus {
  outline: none;
}

a {
  all: unset;
}

body {
  margin: 0;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  color: #343a40;
}

#call-to-action {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 64px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#github {
  background-image: url("../img/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 38px;
  right: 40px;
}

#repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#search-gh {
  all: unset;
  display: block;
  margin: 20px 10%;
  border: solid 2px #6a11cb;
  padding: 0.5em 2em;
  border-radius: 4px;
  cursor: pointer;
}

#username {
  width: 80%;
  margin: auto;
  display: block;
  border: 2px solid #2a5298;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}

.card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 48px;
  margin: 24px;
  position: relative;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-contributions {
  font-weight: 300;
  font-size: 18px;
  position: absolute;
  left: 12px;
  bottom: 12px;
}

.card-language {
  font-weight: normal;
  font-size: 22px;
}

.card-languages {
  width: 60%;
  min-width: fit-content;
}

.card-language-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card-link {
  font-weight: 300;
  font-size: 18px;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.card-size {
  font-weight: 300;
  font-size: 18px;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 18px 0;
}

.chart {
  width: 50%;
  height: 50%;
}

.container {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  min-height: calc(100vh - 13px - 226px);
}

.error {
  border: 2px solid #f47377 !important;
}

.footer {
  background-image: url("../img/footer.svg");
  height: 13px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.nav {
  background-image: url("../img/nav.svg");
  height: 226px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 64px;
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 960px) {
  .container,
  .nav {
    padding-left: 30px;
    padding-right: 30px;
  }
  .card-body {
    flex-direction: column;
  }
  .chart {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .container,
  .nav {
    padding-left: 15px;
    padding-right: 15px;
  }
  .card {
    padding: 48px 24px;
  }
  .chart {
    width: 100%;
  }
}
