@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: #c4c4c4;
}

*:focus {
  outline: none;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  margin: 0;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  color: #343a40;
}

#call-to-action {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 64px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#github {
  background-image: url("../img/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 38px;
  right: 40px;
}

#repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#search-gh {
  all: unset;
  display: block;
  margin: 20px 10%;
  border: solid 2px #6a11cb;
  padding: 0.5em 2em;
  border-radius: 4px;
  cursor: pointer;
}

#username {
  width: 80%;
  margin: auto;
  display: block;
  border: 2px solid #2a5298;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}

.avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.bio {
  font-size: 16px;
  text-align: justify;
  max-width: 350px;
  margin: 12px 0;
}

.card {
  width: 390px;
  height: 174px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 24px;
  margin: 12px 6px;
  position: relative;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-description {
  max-width: 45%;
  font-size: 14px;
  max-height: 112px;
  overflow: scroll;
}

.card-contributions {
  font-weight: 300;
  font-size: 18px;
  position: absolute;
  left: 12px;
  bottom: 12px;
}

.card-link {
  font-weight: 300;
  font-size: 18px;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 18px 0;
}

.chart {
  width: 60%;
  height: auto;
  margin-bottom: -22px;
}

.container {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  min-height: calc(100vh - 13px - 226px);
}

.detail-line {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 4px 0;
}

.error {
  border: 2px solid #f47377 !important;
}

.footer {
  background-image: url("../img/footer.svg");
  height: 13px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
}
.line-content {
  margin-left: 12px;
  font-size: 14px;
}
.name {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-top: 18px;
}

.nav {
  background-image: url("../img/nav.svg");
  height: 226px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.portfolio-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-weight: bold;
  font-size: 64px;
  padding-top: 12px;
  color: #fff;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
}

@media (max-width: 960px) {
  .container,
  .nav {
    padding-left: 30px;
    padding-right: 30px;
  }
  .card {
    width: 90%;
    height: auto;
    padding: 48px 24px;
  }
  .chart {
    /* width: 90%; */
    height: auto;
    margin: 0;
  }
  .card-description {
    text-align: justify;
  }
  .portfolio-container {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .container,
  .nav {
    padding-left: 15px;
    padding-right: 15px;
  }
  .bio {
    max-width: 100%;
  }
  .card {
    padding: 48px 24px;
    width: 90%;
    height: auto;
  }
  .chart {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .card-body {
    flex-direction: column;
  }
  .card-description {
    margin-bottom: 24px;
    text-align: justify;
    max-width: 100%;
    width: 100%;
  }
  .user-info {
    width: 100%;
  }
}
